# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/

# Archivos y dependencias de FastAPI
*.sqlite
instance/
.env

# IDEs y editores
.vscode/
.idea/

# Git
.git/

# Ignorar carpetas específicas con todo su contenido
modulo/model_load/** 
modulo/model_selector/** 
modulo/database-preprosesing/**

# Ignorar archivos de logs
modulo/capturas/logs/bto_logs.log
