# Archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
env/

# Archivos y dependencias de FastAPI
*.sqlite
instance/
.env

# IDEs y editores
.vscode/
.idea/

# Git
.git/

# Ignorar carpetas específicas con todo su contenido
model_load/** 
model_selector/** 
database-preprosesing/**

# Ignorar archivos de logs
capturas/logs/bto_logs.log
pcaps/capture.pcap

